.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 10px;
}

.footer__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer__item {
  margin-right: 20px;

  & a {
    color: @base-grey;
    border: none;
    font-size: 15px;
  }
}
