.item-number {
  position: relative;
  font-size: 15px;
  color: rgb(246, 246, 246);
  font-weight: bold;
  z-index: 2;

  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #0077b3;
    width: 30px;
    height: 30px;
    left: -10px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    margin: auto;
  }
}
