.page {
  line-height: 25px;
  color: @base-grey;
  background-color: #ffffff;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 20px;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
